header{
    background-color:#007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
header img{
    width: 60px;
}
header button{
    padding: 10px 20px;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.form-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
}
.textarea{
    width: 100%;
}
.form-input-group label{
    font-size: 16px;
    font-weight: bold;
}
.form-input-group input{
   padding: 10px;
}
.form-wrapper button{
   display: flex;
   align-self: center;
   padding: 10px 30px;
   background-color: #007bff;
   border-radius: 10px;
   color: #fff;
}
